fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
pydantic
alembic

# iniciar con uvicorn app.main:app --reload

#Iniciar en codespaces uvicorn app.main:app --host 127.0.0.1 --port 8000 --reload



