fastapi
uvicorn
gunicorn

SQLAlchemy>=2.0
asyncpg
psycopg2-binary

python-dotenv
pydantic
pydantic[email]

alembic

fastapi-mail
APScheduler
httpx
requests
email-validator

fastapi
uvicorn
gunicorn
sqlalchemy
psycopg2-binary
python-dotenv
pydantic
alembic
fastapi-mail
APScheduler
httpx
asyncpg
requests
email-validator

#Iniciar en codespaces uvicorn app.main:app --host 127.0.0.1 --port 8000 --reload



