name: build-and-deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Zip artifact for Azure
        run: |
          zip -r app.zip . -x "*.git*" -x "*.github/*" -x "*.devcontainer/*" -x "*.vscode/*"

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: "mjsosphia-api"   # <-- tu nombre real del app service
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: "app.zip"
