name: build-and-deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Create deployment package
        run: |
          mkdir package
          cp -r app package/
          cp -r migrations package/ || true
          cp alembic.ini package/
          cp requirements.txt package/
          cp DATOS.txt package/ || true

          cd package
          zip -r ../app.zip .

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: "mjsosphia-api"
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: "app.zip"
