name: Deploy FastAPI to Azure

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies into build folder
        run: |
          mkdir build
          python -m pip install --upgrade pip
          pip install -r requirements.txt -t build/

      - name: Copy application files
        run: |
          cp -r app build/
          cp -r migrations build/
          cp alembic.ini build/
          cp requirements.txt build/
          cp application.py build/
          cp DATOS.txt build/

      - name: Create ZIP artifact
        run: |
          cd build
          zip -r ../app.zip .

      - name: Upload zip artifact
        uses: actions/upload-artifact@v3
        with:
          name: app
          path: app.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v3
        with:
          name: app
          path: .

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: "MJSOSPHIA-API"
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: "app.zip"
